Añadir comentario: <p>

<form method="post" action="/quizes/<%=quizId%>/comments/">
	<input type="text" id="comment" name="comment[texto]" value="" placeholder="Comentario"/> <p>
	<button type="submit">Enviar</button>
</form>
