Añadir comentario: <br><br>

<form method="post" action="/quizes/<%=quizId%>/comments/">
	<input autofocus required type="text" id="comment" name="comment[texto]" value="" placeholder="Comentario"/> <br><br>
	<button type="submit">Enviar</button>
</form>
