<h2>Login</h2>
<br>
<form method='POST' action='/login'>
  <div class="fiels">
    <label for="login">Login:</label><br/>
    <input autofocus required type="text" id="login" name="login" size="30" />
  </div>

  <div class="fields">
    <label for="password">Password:</label><br/>
    <input type="password" id="password" name="password" size="30" />
  </div>
  <br>
  <div class="actions">
    <input type="submit" name="commit" value="Login" />
  </div>
</form>
